{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_buy_inner %}
    {{ parent() }}
    {% set ecUtilsConfig = shopware.config.EventCandyUtils.config %}
    {% if ecUtilsConfig["turnOnDataSheet"] and page.product.customFields['dataSheetURl'] %}
        <a href="{{ page.product.customFields['dataSheetURl'] }}" target="_blank">
        <span style="background-color: {{ ecUtilsConfig['badgeColor'] }}; color: {{ ecUtilsConfig['badgeTextColor'] }}; {{ ecUtilsConfig['badgeInlineStyle'] }}"
              class="badge badge-pill badge-secondary product-data-sheet"
              data-toggle="tooltip" data-html="true" title="{{ 'ecUtils.product.dataSheetTooltip'|trans|sw_sanitize }}"
        >
            {{ 'ecUtils.product.dataSheet'|trans|sw_sanitize }}
        </span>
        </a>
    {% endif %}
{% endblock %}
