{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price %}
    {{ parent() }}
    {% set ecUtilsConfig = shopware.config.EventCandyUtils.config %}

    {% if ecUtilsConfig["turnOnDataSheet"] %}
        {% if product.customFields['dataSheetURl'] %}
            <a href="{{ product.customFields['dataSheetURl'] }}" target="_blank">
        <span style="background-color: {{ ecUtilsConfig['badgeColor'] }}; color: {{ ecUtilsConfig['badgeTextColor'] }}; {{ ecUtilsConfig['badgeInlineStyle'] }}"
              class="badge badge-pill badge-secondary product-data-sheet"
              data-toggle="tooltip" data-html="true" title="{{ 'ecUtils.product.dataSheetTooltip'|trans|sw_sanitize }}"
        >
            {{ 'ecUtils.product.dataSheet'|trans|sw_sanitize }}
        </span>
            </a>
        {% else %}
            <span style="visibility:hidden;"
                  class="badge badge-pill badge-secondary product-data-sheet">
            ...
            </span>
        {% endif %}
    {% endif %}

{% endblock %}